/target
/Build/*
/.settings
/.project
/.cproject
/Build
/Release
/save.dat
/save2.dat
/test.custom.fail.log
/Test-custom.log
/test.fail.log
/Test.log
/Debug
/Release
/fisce-disasm.i
/fisce-gen.i
/fisce-peephole.i
/fisce-profile.i
